# dependencies
node_modules/

# package managers
.pnpm-store/

# next.js
.next/
out/

# build artifacts
dist/
build/
coverage/

# environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# editors
.idea/
.vscode/

# typescript
*.tsbuildinfo
